html {
    font-family: 'Frank Ruhl Livre', serif;
    font-display: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}
.video-bordure {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.neige {
    margin: 0;
    right: 0;
    width: 80%;
    max-width: 80vw;
}
.voeux {
    max-width: 60vw;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}
.modaal-container {
    background: none;
    box-shadow: none;
}
.modaal-content-container {
    padding: 0;
    text-align: center;
}

main {
    position: relative;
    height: 90vh;
}
.bordure {
    background-color: #cf9a61;
    position: absolute;
}

.gauche {
    height: 35vh;
    width: .2rem;
    left: 31%;
}

.bas {
    height: .2rem;
    width: 40vw;
    right: 0;
    position: relative;
    margin: 2rem 0;
    text-align: right;
    margin-right: 0;
}
footer {
    height: 10vh;
    display: block;
}
.logo {
    position: absolute;
    bottom: 5%;
    width: 30vw;
    left: 10%;
}

