html {
    font-family: 'Frank Ruhl Livre', serif;
    font-display: auto;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

figure {
    margin: 0;
    position: absolute;
    right: 0;
    width: 80vw;
    height: 70vh;
}

main {
    position: relative;
    height: 90vh;
}
.bordure {
    background-color: #cf9a61;
    position: absolute;
}

.gauche {
    height: 35vh;
    width: .2rem;
    left: 18vw;
}

.bas {
    height: .2rem;
    width: 40vw;
    right: 0;
    top: 72vh;
}
footer {
    height: 10vh;
    display: block;
}
.logo {
    position: absolute;
    bottom: 5%;
    width: 30vw;
    left: 10%;
}

